@import "~bootstrap-icons/font/bootstrap-icons.css";

.login {
    max-width: 330px;
    width: 100%;
}

.actions-col {
    form.delete-button {
        display: inline-block;
    }

    .btn {
        padding: 0;
    }
}
